* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

/* IMPORT THE ROBOTO GOOGLE FONT */
@font-face {
  font-family: import_roboto_regular;
  src: url(../Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: import_roboto_bold;
  src: url(../Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: import_rasa;
  src: url(../Rasa/Rasa-VariableFont_wght.ttf);
}
/* END IMPORT THE ROBOTO GOOGLE FONT*/

/* BUTTONS */
.button_green {
  text-decoration: none;
  background-color: white;
  color: #059b7b;
  border: 2px solid #00664f;
  padding: 1rem;
  transition-duration: 0.2s;
}

.button_green:hover {
  text-decoration: none;
  background-color: #00664f;
  color: #fff;
  border: 2px solid #00664f;
  padding: 1rem;
}

.button_white {
  text-decoration: none;
  background-color: #00664f;
  color: #fff;
  border: 2px solid #fff;
  padding: 1rem;
  transition-duration: 0.2s;
}

.button_white:hover {
  text-decoration: none;
  background-color: #fff;
  color: #00664f;
  border: 2px solid #fff;
  padding: 1rem;
}

/* BANNER */
.container {
  width: 80%;
  margin: auto;
}

.typewriter {
  margin: auto;
  width: 80%;

  /* display: flex; */
}

.typewriter .c .a .s {
  /* font-size: 80px;
  color: #00664f;
  font-family: import_roboto_bold;
  width: 22ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid; */
  /* display: inline; */

  /* width: 22ch;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 120px;
  color: #00664f;
  font-family: import_roboto_bold;
  animation-fill-mode: forwards; */
}

/* .remove_space p {
  display: inline-block;
} */

.c {
  width: 10ch;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  /* border-right: 3px solid; */
  font-size: 120px;
  color: #00664f;
  font-family: import_roboto_bold;
  animation: typing_c 0.75s steps(10), blink 0.5s step-end alternate;
  animation-fill-mode: forwards;
}

.a {
  width: 10ch;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  /* border-right: 3px solid; */
  font-size: 120px;
  color: #00664f;
  font-family: import_roboto_bold;

  animation: typing_a 0.75s 0.75s steps(10), blink 0.5s step-end alternate;
  animation-fill-mode: forwards;
}

.s {
  width: 10ch;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 120px;
  color: #00664f;
  font-family: import_roboto_bold;

  animation: typing_s 0.75s 1.5s steps(10),
    blink 0.5s step-end infinite alternate;
  animation-fill-mode: forwards;
  /* border-right: 3px solid; */
}

@keyframes typing_c {
  0% {
    opacity: 1;
    width: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes typing_a {
  0% {
    opacity: 1;
    width: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes typing_s {
  0% {
    opacity: 1;
    width: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  /* 50% {
    border-color: transparent;
  } */

  50% {
    border-color: transparent;
  }
}

/* @keyframes stop_cursor_space {
  0% {
    display: block;
  }

  100% {
    display: inline;
  }
} */

.cas_banner {
  margin: 100px 0 50px 0;
}

.cas_banner a {
  text-decoration: none;
}

.cas_intro {
  font-family: import_rasa;
  font-size: 20px;
  color: #fff;
  background-color: #00664f;
  padding: 75px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.cas_intro ul {
  margin-left: 50px;
}

/* CAS */
.cas h2 {
  font-family: import_roboto_bold;
  font-size: 60px;
  color: #00664f;
}

.cas h3 {
  font-family: import_roboto_bold;
  font-size: 40px;
  color: #00664f;
}

.cas p {
  font-family: import_roboto_regular;
  font-size: 14px;
  text-align: justify;
}

.cas img {
  width: 100%;
  height: 100%;
}

.card_image_left {
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.card_image_right {
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.cas_text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
/* STUDENT LEADERSHIP BANNER */
.student_leadership_banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/test_landscape.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.student_leadership_banner_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
  padding: 20px;
  border: solid #fff 2px;
}

.student_leadership_graphics {
  background-color: #fff;
}

.student_leadership_graphics img {
  width: 100%;
  height: auto;
}

.student_leadership_image_divider {
  background-image: url("../img/caring_hearts/parallax.jpg");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.student_leadership1 {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 100px;
}

.student_leadership1 h3 {
  font-family: import_roboto_regular;
  font-size: 40px;
}

.student_leadership1 p {
  font-family: import_roboto_regular;
  font-size: 16px;
}

.student_leadership2 {
  background-color: #fff;
  margin-top: -200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 100px;
}

.student_leadership2 h3 {
  font-family: import_roboto_regular;
  font-size: 40px;
}

.student_leadership2 p {
  font-family: import_roboto_regular;
  font-size: 16px;
}
/* GEP */
.GEP {
  background-color: #00664f;
  color: #fff;
  padding: 200px;
  font-family: import_rasa;
}

.GEP h2 {
  font-size: 100px;
}

.GEP p {
  font-size: 20px;
}

.GEP_pics {
  width: 80%;
  margin: auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-container img {
  height: 600px;
  width: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100% !important;
  text-align: left !important;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* FOOTER */
.footer {
  background: #00664f;
  color: #fff;
  font-family: import_rasa;
  text-align: center;
  padding: 30px 0 30px 0;
  font-size: 15px;
}

/* MEDIA QUERY */
@media only screen and (max-width: 1079px) {
  .GEP h2 {
    font-size: 70px;
  }

  .slideshow-container {
    max-width: 800px;
  }

  .slideshow-container img {
    height: 500px;
    width: auto;
  }
}

@media only screen and (max-width: 950px) {
  .GEP {
    padding: 100px;
  }

  .GEP h2 {
    font-size: 50px;
  }

  .GEP p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .c,
  .a,
  .s {
    font-size: 90px;
  }

  .cas_intro {
    font-size: 14px;
    padding: 40px;
  }

  .student_leadership1 {
    padding: 40px;
  }

  .student_leadership1 h3 {
    font-size: 30px;
  }

  .student_leadership1 p {
    font-size: 14px;
  }

  .student_leadership2 {
    padding: 40px;
  }

  .student_leadership2 h3 {
    font-size: 30px;
  }

  .student_leadership2 p {
    font-size: 14px;
  }

  .GEP {
    padding: 50px;
  }

  .slideshow-container {
    max-width: 400px;
  }

  .slideshow-container img {
    height: 200px;
    width: auto;
  }
}
