* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

/* IMPORT THE ROBOTO GOOGLE FONT */
@font-face {
  font-family: import_roboto_regular;
  src: url(../Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: import_roboto_bold;
  src: url(../Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: import_rasa;
  src: url(../Rasa/Rasa-VariableFont_wght.ttf);
}
/* END IMPORT THE ROBOTO GOOGLE FONT*/

.typewriter {
  margin: auto;
  width: 80%;
}

.typewriter h2 {
  font-size: 80px;
  color: #00664f;
  font-family: import_roboto_bold;
  width: 22ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  /* border-color: transparent; */
  display: inline;
}

.c {
  animation: typing 1s steps(22), blink 0.5s step-end infinite alternate;
}

.a {
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
}

.s {
  animation: typing 3s steps(22), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    /* border-right: 3px solid; */
    border-color: transparent;
    /* border-right: 0px; */
  }
}

/* FOOTER */
.footer {
  background: #00664f;
  color: #fff;
  font-family: import_rasa;
  text-align: center;
  padding: 30px 0 30px 0;
  font-size: 15px;
}
