* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

/* IMPORT THE ROBOTO GOOGLE FONT */
@font-face {
  font-family: import_roboto_regular;
  src: url(../Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: import_roboto_bold;
  src: url(../Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: import_rasa;
  src: url(../Rasa/Rasa-VariableFont_wght.ttf);
}
/* END IMPORT THE ROBOTO GOOGLE FONT*/

/* BUTTONS */
.button_green {
  text-decoration: none;
  background-color: white;
  color: #059b7b;
  border: 2px solid #00664f;
  padding: 1rem;
  transition-duration: 0.2s;
}

.button_green:hover {
  text-decoration: none;
  background-color: #00664f;
  color: #fff;
  border: 2px solid #00664f;
  padding: 1rem;
}

.button_white {
  text-decoration: none;
  background-color: #00664f;
  color: #fff;
  border: 2px solid #fff;
  padding: 1rem;
  transition-duration: 0.2s;
}

.button_white:hover {
  text-decoration: none;
  background-color: #fff;
  color: #00664f;
  border: 2px solid #fff;
  padding: 1rem;
}

/* START OF MAIN PAGE*/

/* MAIN PAGE BANNER */
.container {
  margin: auto;
  width: 100%;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  /* -webkit-overflow-scrolling: touch; */
}

.parallax_layer {
  height: 1000px;
  /* position: fixed; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax_layer_front {
  transform: translateZ(-3px) scale(3);
}

.parallax_layer_back {
  transform: translateZ(0);
  z-index: -2;
}

.intro_header_text {
  font-family: import_roboto_bold;
  color: #00664f;
  padding: 0;
  margin: 0;
  font-size: 150px;
  z-index: -1;
  /* text-shadow: 3px 3px rgba(0, 0, 0, 0.4); */
}

.text_where {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  top: 0;
  left: 175px;
}

.text_our {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  top: 50px;
  left: 250px;
}

.text_story {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  top: 250px;
  left: -190px;
  font-size: 250px;
}

.text_begins {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  top: 190px;
  left: -150px;
}

.custom_animate_delay_1 {
  --animate-delay: 0.1s;
}

.custom_animate_delay_2 {
  --animate-delay: 0.3s;
}

.custom_animate_delay_3 {
  --animate-delay: 0.5s;
}
.custom_animate_delay_4 {
  --animate-delay: 0.7s;
}

.greetings_text {
  background-color: #00664f;
  height: 100vh;
  text-align: center;
}

.greetings_text h2 {
  font-family: import_roboto_bold;
  font-size: 70px;
}

.greetings_text_container {
  margin: auto;
  width: 80%;
}

.greetings_text p {
  font-family: import_roboto_regular;
  font-size: 20px;
}

.greetings_text h3 {
  padding-top: 70px;
  font-family: import_roboto_bold;
  font-size: 40px;
}

.circle_picture {
  height: 70vh;
  background-image: url("../img/index/parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*ANIMATED ARROW*/
.arrow {
  width: 100px;
  height: 82px;
  position: absolute;
  margin-left: 0px;
  top: 12rem;
  bottom: 5%;
  z-index: 999;
}
/* SET ARROW STYLES */
.arrow path {
  stroke: #00664f;
  stroke-width: 5px;
  fill: transparent;
  animation: down 2s infinite;
}
/* ARROW KEYFRAME ANIMATION */
@keyframes down {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* ARROW ANIMATIOIN DELAY */
.arrow path.a1 {
  animation-delay: -1s;
}
.arrow path.a2 {
  animation-delay: -0.5s;
}
.arrow path.a3 {
  animation-delay: 0s;
}
.image_grp img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/*MAIN PAGE BANNER PICTURES*/
.intro_header_images .img1 {
  width: 45vw;
  height: auto;
  margin-top: 5%;
  margin-left: 50%;
}

.intro_header_images .img2 {
  width: 45vw;
  height: auto;
  margin-top: 5%;
  margin-left: 5%;
}

.intro_header_images .img3 {
  width: 40vw;
  height: auto;
  margin-top: -5%;
  margin-left: 55%;
}

.intro_header_images .img4 {
  width: 42vw;
  height: auto;
  margin-top: -5%;
  margin-left: 10%;
}

.intro_header_images .img5 {
  width: 30vw;
  height: auto;
  margin-top: -5%;
  margin-left: 60%;
}

.intro_header_images .img6 {
  width: 50vw;
  height: auto;
  margin-top: -5rem;
  margin-left: 5%;
}

/* VIDEO SECTION */
.mainpg_video {
  padding: 2rem;
  font-family: import_rasa;
  background: #00664f;
  color: #fff;
  text-align: center;
}

.mainpg_video_iframe {
  position: relative;
  overflow: hidden;
  width: 80%;
  padding-top: 45%;
  margin: auto;
}

.mainpg_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.mainpg_video h2 {
  padding: 30px 0 30px 0;
  text-align: center;
  font-size: 80px;
}

.mainpg_video p {
  padding-bottom: 50px;
  margin: auto;
  width: 40%;
  text-align: center;
  text-justify: inter-word;
  font-size: 20px;
}

/*GREETINGS*/
.greetings {
  height: 100vh;
  color: #fff;
  z-index: 1000;
  position: relative;
}

/* POLAROIDS */
.polaroid_row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* WHITE POLAROIDS */
.polaroid_white {
  background-color: transparent;
  perspective: 1000px;
  align-content: center;
}

.polaroid_white img {
  margin-top: 30px;
  height: auto;
  width: 300px;
}

.polaroid_white:hover .polaroid_white-inner {
  transform: rotateY(180deg);
}

.polaroid_white-front,
.polaroid_white-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.polaroid_white-inner {
  height: 320px;
  width: 350px;
  /* background-color: #fff; */
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  font-family: import_roboto_regular;
}

.polaroid_white-front {
  color: #000;
}

.polaroid_white-back {
  background-color: #fff;
  color: #000;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* GREEN POLAROIDS */
.polaroid_green {
  background-color: transparent;
  perspective: 1000px;
}

.polaroid_green img {
  margin-top: 30px;
  height: auto;
  width: 300px;
}

.polaroid_green:hover .polaroid_green-inner {
  transform: rotateY(180deg);
}

.polaroid_green-front,
.polaroid_green-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #00664f;
}

.polaroid_green-inner {
  height: 320px;
  width: 350px;
  /* background-color: #059b7b; */
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  font-family: import_roboto_regular;
}

.polaroid_green-front {
  color: #fff;
}

.polaroid_green-back {
  background-color: #00664f;
  color: #fff;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.polaroids h2 {
  text-align: center;
  margin: 50px 0 40px 0;
  color: #00664f;
  font-family: import_rasa;
  font-size: 40px;
}

/* FOOTER */
.footer {
  background: #00664f;
  color: #fff;
  font-family: import_rasa;
  text-align: center;
  padding: 30px 0 30px 0;
  font-size: 15px;
}
