* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

/* IMPORT THE ROBOTO GOOGLE FONT */
@font-face {
  font-family: import_roboto_regular;
  src: url(../Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: import_roboto_bold;
  src: url(../Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: import_rasa;
  src: url(../Rasa/Rasa-VariableFont_wght.ttf);
}
/* END IMPORT THE ROBOTO GOOGLE FONT*/

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
  transform-style: preserve-3d;
}

.container_sag {
  width: 80%;
  margin: auto;
}

/* BANNER */
.banner {
  padding: 25vh 10%;
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: inherit;
  z-index: -1;
}

.banner,
.banner:before {
  background: 50% 50% / cover;
}

.banner:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner_content {
  color: #fff;
  font-size: 4vw;
  margin: 0 auto;
  padding: 20vh 0;
  text-align: center;
}

.banner_content h1 {
  border: #fff;
}

.learning_minds_banner:before {
  background-image: url("../img/learning_minds/banner.JPG");
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

/* CONTENT */
.learningminds_content {
  background: #fff;
}

.green_rect1 {
  height: 600px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #00664f;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin: auto;
  width: 90vw;
}

.green_rect1 p {
  padding: auto;
  font-size: 25px;
  width: 70%;
  margin: auto;
}

.green_rect1_text_container {
  display: flex;
  height: 1000px;
}

.green_rect1 img {
  height: 700px;
  width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.green_rect1_img {
  display: flex;
  align-items: center;
}

.h1_intro {
  color: #00664f;
  text-align: center;
  font-family: import_roboto_bold;
  font-size: 70px;
}

.six_academic_grp {
  margin: -130px 0 30px 0;
}

.six_academic_grp_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.six_academic_grp_img img {
  width: 100%;
  height: auto;
}

.six_academic_grp_text {
  text-align: justify;
  font-family: import_rasa;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .academic_cards {
  background: #00664f;
  padding: 30px;
  display: block;
  text-align: center;
}

.card {
  border: #fff solid 1px;
  width: 70%;
} */

.card_grp {
  background-color: #00664f;
  margin: auto;
  padding: 100px 0 100px 0;
}

/* .container {
  margin: auto;
} */

.individual_card {
  text-align: center;
  position: relative;
}

.individual_card h3 {
  font-size: 22px;
}

.individual_card li {
  font-size: 18px;
}

.box_card {
  margin: 20px 0 20px 0;
  background: #fff;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  list-style-position: inside;
  padding: 20px;
  text-align: left;
  font-family: import_rasa !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.box_card a {
  text-decoration: none;
  background-color: white;
  color: #00664f;
  border: 2px solid #00664f;
  transition-duration: 0.2s;
  font-size: 15px;
  position: absolute;
  bottom: 60px;
}

.text_card {
  padding: 10px 0px 10px 0;
}

.text_card ol {
  padding-left: 20px;
}

.eetokcas h3 {
  color: #00664f;
  background-color: #fff;
  text-align: center;
  font-family: import_roboto_bold;
  font-size: 60px;
  padding: 30px;
  margin: auto;
  width: 80%;
}

.eetokcas p {
  margin: auto;
  width: 80%;
  text-align: justify;
  font-family: import_rasa;
  font-size: 20px;
}

.tok_video {
  background-color: #00664f;
  color: #fff;
}

.tok_text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tok_text a {
  text-decoration: underline;
  color: #fff;
}

.ee_video {
  background-color: #00664f;
  color: #fff;
  text-align: center;
}

.ee_text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 30px 0 30px 0;
}

.vid {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
}

.video {
  position: relative;
  overflow: hidden;
  width: 80%;
  padding-top: 45%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/*.tok_video .video_iframe {
  position: relative;
  overflow: hidden;
  width: 80%;
  padding-top: 45%;
  margin: auto;
}

.ee_video .video_iframe {
  position: relative;
  overflow: hidden;
  width: 80%;
  padding-top: 45%;
  margin: auto;
}*/

.more_about_cas {
  background-color: #ededed;
  font-family: import_roboto_bold;
  text-align: center;
  padding: 30px;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.more_about_cas h3 {
  font-size: 30px;
}

.more_about_cas a {
  background-color: #ededed;
}

/* FOOTER */
.footer {
  background: #00664f;
  color: #fff;
  font-family: import_rasa;
  text-align: center;
  padding: 30px 0 30px 0;
  font-size: 15px;
}

.footer a {
  color: #fff;
}

.Container-1 {
  background-color: #00664f;
  color: white;
  padding-right: 10vw;
  padding-left: 2vw;
  padding-top: 10vh;

  border-radius: 0.4em;
  font-size: 15px; /*1.2vw*/
}

.Container-0 {
  position: relative;

  margin-top: 20vh;
  margin-bottom: 30vh;
}

.Container-0_1 {
  position: relative;
  margin-bottom: 30vh;
  margin-left: 28vw;
  margin-right: 3vw;
}

.Container-1_1 {
  background-color: #00664f;
  color: white;
  padding-right: 10vw;
  padding-left: 13vw;
  padding-top: 10vh;

  border-radius: 0.4em;
  font-size: 15px; /*1.2vw*/
}

.Image {
  position: absolute;
  top: -10vh;
  left: 58vw;
  right: 0;
  bottom: 0;
}

.Image-2 {
  position: absolute;
  width: 10px;
  top: -10vh;
  left: -20vw;
  right: 0;
  bottom: 0;
}

.Img {
  max-width: 35vw;
  min-width: 60px;
  max-height: 40vw;
  min-height: 130px;
}

.button_white {
  text-decoration: none;
  font-family: import_roboto_bold;
  background-color: #00664f;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  transition-duration: 0.2s;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 15px;
}

.button_white:hover {
  text-decoration: none;
  font-family: import_roboto_bold;
  background-color: #fff;
  color: #00664f;
  border: 2px solid #fff;
  padding: 10px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 15px;
}

.button_green {
  text-decoration: none;
  font-family: import_roboto_bold;
  background-color: white;
  color: #00664f;
  border: 2px solid #00664f;
  padding: 1rem;
  transition-duration: 0.2s;
}

.button_green:hover {
  text-decoration: none;
  font-family: import_roboto_bold;
  background-color: #00664f;
  color: #fff;
  border: 2px solid #00664f;
  padding: 1rem;
}

.computerCardContainer p {
  font-size: 18px;
}

.mobileCardContainer {
  display: none;
  width: 80%;
  margin: auto;
}

.mobileCardContainer .box {
  padding: 0;
}

.card_img1 {
  background-image: url("../img/learning_minds/learningminds2.png");
  background-size: cover;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  height: 30vh;
}

.card_img2 {
  background-image: url("../img/learning_minds/hay.png");
  background-size: cover;
  background-position: 0% 25%;
  background-repeat: no-repeat;
  height: 50vh;
}

.mobileCardContainer .card_text {
  background-color: #00664f;
  color: #fff;
  padding: 20px;
}

@media only screen and (max-width: 1100px) {
  .computerCardContainer {
    display: none;
  }

  .mobileCardContainer {
    display: block;
  }
}

@media only screen and (max-width: 1380px) {
  .green_rect1 img {
    height: 650px;
    width: 400px;
  }

  .Image-2 {
    left: -24vw;
  }
}

@media only screen and (max-width: 992px) {
  .green_rect1 {
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.4);
  }

  .green_rect1_text_container {
    padding: 100px;
    background-color: #00664f;
    height: auto;
  }

  .green_rect1_text_container p {
    font-size: 20px;
  }

  .green_rect1 img {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0;
  }
}

@media only screen and (max-width: 950px) {
  .h1_intro {
    font-size: 45px;
  }

  .eetokcas h3 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 820px) {
  .green_rect1_text_container p {
    font-size: 16px;
  }

  .green_rect1_text_container {
    padding: 40px;
  }
}
