* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

/* IMPORT THE ROBOTO GOOGLE FONT */
@font-face {
  font-family: import_roboto_regular;
  src: url(../Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: import_roboto_bold;
  src: url(../Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: import_rasa;
  src: url(../Rasa/Rasa-VariableFont_wght.ttf);
}
/* END IMPORT THE ROBOTO GOOGLE FONT*/

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
  transform-style: preserve-3d;
}

.container_sag {
  width: 60%;
  margin: auto;
}

/* BANNER */
.banner {
  padding: 25vh 10%;
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: inherit;
  z-index: -1;
}

.banner,
.banner:before {
  background: 50% 50% / cover;
}

.banner:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner_content {
  color: #fff;
  font-size: 4vw;
  margin: 0 auto;
  padding: 20vh 0;
  text-align: center;
}

.banner_content h1 {
  border: #fff;
}

.learning_minds_banner:before {
  background-image: url("../img/test_landscape.jpg");
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

/* CONTENT */
.learningminds_content {
  background: #fff;
}

.green_rect1 {
  height: 75vh;
  margin-left: 12.5vw;
  display: flex;
  align-content: center;
  color: #fff;
  background-color: #00664f;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 75vw;
  margin-top: 5%;
}

.green_rect1 p {
  padding: auto;
  font-size: 25px;
  width: 70%;
  margin: auto;
}

.green_rect1_text_container {
  display: flex;
  height: 75vh;
}

.green_rect1 img {
  height: 100%;
  width: 100%;
}

.h1_intro {
  color: #00664f;
  text-align: center;
  font-family: import_roboto_bold;
  font-size: 70px;
}

.six_academic_grp {
  margin: 30px 0 30px 0;
}

.six_academic_grp_img img {
  width: 70%;
  height: auto;
}

.six_academic_grp_text {
  text-align: center;
  font-family: import_rasa;
}

/* .academic_cards {
  background: #00664f;
  padding: 30px;
  display: block;
  text-align: center;
}

.card {
  border: #fff solid 1px;
  width: 70%;
} */

.card_grp {
  background-color: #038d6f;
  margin: auto;
}

/* .container {
  margin: auto;
} */

.individual_card {
  text-align: center;
  position: relative;
}

.box_card {
  margin: 20px 0 20px 0;
  background: #fff;
  border-radius: 15px;
  width: 300px;
  height: 210px;
  list-style-position: inside;
  padding: 20px;
  text-align: left;
  font-family: import_rasa !important;
}

.box_card button {
  text-decoration: none;
  background-color: white;
  color: #059b7b;
  border: 2px solid #059b7b;
  transition-duration: 0.2s;
  padding: 10px;
  font-size: 15px;

  position: absolute;
  bottom: 30px;
}

.box_card button:hover {
  text-decoration: none;
  background-color: #059b7b;
  color: #fff;
  border: 2px solid #059b7b;
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
}

.text_card {
  padding: 10px 0 10px 0;
}

.eetokcas h3 {
  color: #fff;
  background-color: #059b7b;
  text-align: center;
  font-family: import_roboto_bold;
  font-size: 60px;
  padding: 30px;
  margin: auto;
  width: 80%;
}

.eetokcas p {
  margin: auto;
  width: 80%;
  text-align: center;
  font-family: import_rasa;
}

.tok_video {
  background-color: #059b7b;
  color: #fff;
}

.ee_video {
  background-color: #fff;
  color: #059b7b;
  text-align: center;
}

.box {
  padding: 30px 0 30px 0;
}

.tok_video .video_iframe {
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 350px;
  padding: 30px 0 30px 0;
}

.ee_video .video_iframe {
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 350px;
  padding: 30px 0 30px 0;
}

.more_about_cas {
  background-color: #ededed;
  font-family: import_roboto_bold;
  text-align: center;
  font-size: 30px;
  padding: 30px;
  width: 80%;
  margin: auto;
}

.more_about_cas button {
  text-decoration: none;
  background-color: white;
  color: #059b7b;
  border: 2px solid #059b7b;
  transition-duration: 0.2s;
  padding: 10px;
  font-size: 25px;
}

.more_about_cas button:hover {
  text-decoration: none;
  background-color: #059b7b;
  color: #fff;
  border: 2px solid #059b7b;
  cursor: pointer;
  padding: 10px;
  font-size: 25px;
}

/* FOOTER */
.footer {
  background: #00664f;
  color: #fff;
  font-family: import_rasa;
  text-align: center;
  padding: 30px 0 30px 0;
  font-size: 15px;
}

.Container-1 {
  background-color: #059b7b;
  color: white;
  padding-left: 2vw;
  padding-right: 10vw;
  padding-top: 10vh;

  margin-left: 20vh;
  border-radius: 0.4em;
  font-size: 1.2vw;
}

.Container-0 {
  position: relative;

  margin-top: 20vh;
  margin-bottom: 30vh;
}

.Container-0_1 {
  position: relative;
  margin-right: 20vh;
  margin-left: 50vh;
  margin-bottom: 30vh;
}

.Container-1_0 {
  background-color: #059b7b;
  color: white;
  padding-right: 2vw;
  padding-left: 10vw;
  padding-top: 10vh;

  margin-left: 20vh;
  border-radius: 0.4em;
  font-size: 1.2vw;
}

.Image {
  position: absolute;
  top: -10vh;
  left: 58vw;
  right: 0;
  bottom: 0;
}

.Image-2 {
  position: absolute;
  top: -10vh;
  left: -18vw;
  right: 0;
  bottom: 0;
}

.Img {
  max-width: 35vw;
  min-width: 60px;
  max-height: 32vw;
  min-height: 130px;
}

.button_white {
  text-decoration: none;
  background-color: #059b7b;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  transition-duration: 0.2s;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 15px;
}

.button_white:hover {
  text-decoration: none;
  background-color: #fff;
  color: #059b7b;
  border: 2px solid #fff;
  padding: 10px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 15px;
}
