/* 


MAIN PAGE MEDIA QUERIES 


*/
@media only screen and (max-width: 1200px) {
  .parallax_layer_front {
    transform: translateZ(-2px) scale(2);
  }

  .mainpg_video p {
    margin: auto;
    width: 50%;
    text-align: center;
    text-justify: inter-word;
    font-size: 18px;
  }

  .mainpg_video h2 {
    font-size: 60px;
  }

  .polaroid_white img {
    margin-top: 30px;
    height: auto;
    width: 250px;
  }

  .polaroid_green img {
    margin-top: 30px;
    height: auto;
    width: 250px;
  }

  .polaroid_white-inner {
    height: 290px;
    width: 300px;
  }

  .polaroid_green-inner {
    height: 290px;
    width: 300px;
  }

  .polaroids h2 {
    text-align: center;
    margin: 50px 0 40px 0;
    color: #059b7b;
    font-family: import_rasa;
    font-size: 35px;
  }

  .polaroids h3 {
    margin-top: 10px;
    font-size: 18px;
  }

  .polaroids p {
    font-size: 14px;
  }

  .polaroids a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1293px) {
  .text_where {
    top: 60px;
    left: -10px;
  }

  .text_our {
    top: 170px;
    left: -10px;
  }

  .text_story {
    top: 52px;
    left: 380px;
  }

  .text_begins {
    top: 152px;
    left: -467px;
  }

  .animated_arrow {
    margin-top: -50px;
  }
}

@media only screen and (max-width: 1079px) {
  /* .text_where {
    top: 60px;
    left: -10px;
  }

  .text_our {
    top: 170px;
    left: -10px;
  } */

  .text_story {
    top: 80px;
    left: 116px;
  }

  .text_begins {
    top: -13px;
    left: -235px;
  }

  .animated_arrow {
    margin-top: -200px;
  }
}

@media only screen and (max-width: 950px) {
  .text_where {
    top: 60px;
    left: 140px;
  }

  .text_our {
    top: 150px;
    left: 100px;
  }

  .text_story {
    top: 271px;
    left: -150px;
  }

  .text_begins {
    top: 220px;
    left: -150px;
  }

  .intro_header_text {
    font-size: 100px;
  }

  .text_story {
    font-size: 150px;
  }

  .animated_arrow {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 830px) {
  .text_where {
    top: 160px;
    left: 0;
  }

  .text_our {
    top: 240px;
    left: -20px;
  }

  .text_story {
    top: 190px;
    left: 170px;
  }

  .text_begins {
    top: 270px;
    left: -300px;
  }

  .animated_arrow {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 687px) {
  /* .text_where {
    top: 160px;
    left: 0;
  }

  .text_our {
    top: 240px;
    left: -20px;
  } */

  .image_grp {
    display: none;
  }

  .text_story {
    top: 190px;
    left: 115px;
  }

  .text_begins {
    top: 150px;
    left: -70px;
  }

  .animated_arrow {
    margin-top: -40px;
  }

  .img1 {
    width: 80vw;
    height: auto;
  }

  .parallax_layer {
    margin-top: 0px;
  }

  .parallax_layer_front {
    transform: translateZ(-1px) scale(1.25);
  }
}

@media only screen and (max-width: 460px) {
  .text_where {
    top: 160px;
    left: 0;
  }

  .text_our {
    top: 230px;
    left: -20px;
  }

  .text_story {
    top: 204px;
    left: 80px;
  }

  .text_begins {
    top: 170px;
    left: -70px;
  }

  .intro_header_text {
    font-size: 70px;
  }

  .text_story {
    font-size: 100px;
  }
}

@media only screen and (max-width: 455px) {
  .text_where {
    top: 160px;
    left: -32px;
  }

  .text_our {
    top: 216px;
    left: -9px;
  }

  .text_story {
    top: 170px;
    left: 48px;
  }

  .text_begins {
    top: 140px;
    left: -77px;
  }
}

@media only screen and (max-width: 330px) {
  .text_where {
    top: 148px;
    left: -45px;
  }

  .text_our {
    top: 131px;
    left: 37px;
  }

  .text_story {
    top: 106px;
    left: 10px;
  }

  .text_begins {
    top: 81px;
    left: 7px;
  }
}
/* END OF "WHERE OUR STORY BEGINS */

@media only screen and (max-width: 992px) {
  .greetings {
    height: auto;
  }

  .greetings_text {
    height: auto;
  }

  .greetings p {
    padding-top: 10px;
    font-size: 20px;
  }

  .greetings h2 {
    padding-top: 70px;
    font-size: 40px;
  }

  .greetings h3 {
    padding-top: 100px;
    font-size: 30px;
  }

  .greetings img {
    width: 40vw;
  }

  .mainpg_video p {
    margin: auto;
    width: 55%;
    text-align: center;
    text-justify: inter-word;
    font-size: 18px;
  }

  .mainpg_video h2 {
    font-size: 50px;
  }

  .polaroid_white img {
    margin-top: 30px;
    height: auto;
    width: 220px;
  }

  .polaroid_green img {
    margin-top: 30px;
    height: auto;
    width: 220px;
  }

  .polaroid_white-inner {
    height: 260px;
    width: 240px;
  }

  .polaroid_green-inner {
    height: 260px;
    width: 240px;
  }

  .polaroids h2 {
    text-align: center;
    margin: 50px 0 40px 0;
    color: #059b7b;
    font-family: import_rasa;
    font-size: 30px;
  }

  .polaroids h3 {
    font-size: 16px;
  }

  .polaroids p {
    font-size: 12px;
  }

  .polaroids a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .greetings img {
    width: 60vw;
  }

  .greetings p {
    padding-top: 10px;
    font-size: 15px;
  }

  .greetings h2 {
    padding-top: 30px;
    font-size: 35px;
  }

  .greetings h3 {
    padding-top: 50px;
    font-size: 25px;
  }

  .mainpg_video p {
    margin: auto;
    width: 70%;
    text-align: center;
    text-justify: inter-word;
    font-size: 18px;
  }

  .mainpg_video h2 {
    font-size: 40px;
  }

  .polaroid_white {
    margin-bottom: 50px;
  }

  .polaroid_green {
    margin-bottom: 50px;
  }

  .polaroids_row {
    margin-bottom: 50px;
  }

  .polaroid_white img {
    margin-top: 30px;
    height: auto;
    width: 40vw;
  }

  .polaroid_green img {
    margin-top: 30px;
    height: auto;
    width: 40vw;
  }

  .polaroid_white-inner {
    height: 300px;
    width: 50vw;
    margin: auto;
  }

  .polaroid_green-inner {
    height: 300px;
    width: 50vw;
    margin: auto;
  }

  .container{
    width: 95%;
  }
}

@media only screen and (max-width: 500px) {

  .polaroid_white {
    margin-bottom: 50px;
  }

  .mainpg_video h2 {
    font-size: 40px;
  }

  .polaroid_green {
    margin-bottom: 50px;
  }

  .polaroids_row {
    margin-bottom: 50px;
  }

  .polaroid_white img {
    margin-top: 30px;
    height: auto;
    width: 60vw;
  }

  .polaroid_green img {
    margin-top: 30px;
    height: auto;
    width: 60vw;
  }

  .polaroid_white-inner {
    height: 300px;
    width: 80vw;
    margin: auto;
  }

  .polaroid_green-inner {
    height: 300px;
    width: 80vw;
    margin: auto;
  }
}

@media only screen and (max-width: 430px) {
  .branding {
    font-size: 25px;
  }
}

@media only screen and (max-width: 350px) {
  .branding {
    font-size: 20px;
  }
}

@media only screen and (max-width: 290px) {
  .branding {
    font-size: 15px;
  }

  .sji_logo_navbar img {
    width: 30px;
  }
}

@media only screen and (max-width: 230px) {
  .branding {
    font-size: 10px;
    top: -10px;
    padding-left: px;
  }

  .sji_logo_navbar img {
    width: 25px;
  }
}
