* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    overflow-x: hidden;
  }
  
  /* IMPORT THE ROBOTO GOOGLE FONT */
  @font-face {
    font-family: import_roboto_regular;
    src: url(../Roboto/Roboto-Regular.ttf);
  }
  
  @font-face {
    font-family: import_roboto_bold;
    src: url(../Roboto/Roboto-Bold.ttf);
  }
  
  @font-face {
    font-family: import_rasa;
    src: url(../Rasa/Rasa-VariableFont_wght.ttf);
  }
  /* END IMPORT THE ROBOTO GOOGLE FONT*/
  
  .container {
    width: 80%;
    margin: auto;
  }
  
  h1 {
      font-size: 40px;
      font-family: import_rasa;
  }

  .content {
       margin-top: 100px;
  }

  .news_card {
      margin: 10px;
      background-color: #e5e5e5;
      height: 500px;
  }

.ig_card {
    margin: 10px;

}
