* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

/* IMPORT THE ROBOTO GOOGLE FONT */
@font-face {
  font-family: import_roboto_regular;
  src: url(../Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: import_roboto_bold;
  src: url(../Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: import_rasa;
  src: url(../Rasa/Rasa-VariableFont_wght.ttf);
}
/* END IMPORT THE ROBOTO GOOGLE FONT*/

/* SJI LOGO NAVBAR */
.sji_logo_navbar img {
  width: 40px;
}

.branding {
  font-size: 30px;
  font-family: import_rasa;
  position: relative;
  top: -15px;
  padding-left: 10px;
}

.sji_logo_navbar {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  padding: 20px 0 0 30px;
  z-index: 1000;
}

/* MAIN PAGE BANNER */
.container {
  margin: auto;
  width: 80%;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax_layer {
  height: 1000px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax_layer_front {
  transform: translateZ(-3px) scale(3);
}

.parallax_layer_back {
  transform: translateZ(0);
  z-index: -1;
}

.intro_header_text {
  font-family: import_roboto_bold;
  color: #059b7b;
  padding: 0;
  margin: 0;
  font-size: 150px;
  z-index: 10;
  /* text-shadow: 3px 3px rgba(0, 0, 0, 0.4); */
}
.custom_animate_delay_1 {
  --animate-delay: 0.1s;
}

.custom_animate_delay_2 {
  --animate-delay: 0.3s;
}

.custom_animate_delay_3 {
  --animate-delay: 0.5s;
}
.custom_animate_delay_4 {
  --animate-delay: 0.7s;
}

.greetings_text {
  background-color: #059b7b;
  height: 100vh;
  text-align: center;
}

.greetings_text h2 {
  font-family: import_roboto_bold;
  font-size: 70px;
}

.greetings_text_container {
  margin: auto;
  width: 80%;
}

.greetings_text p {
  padding-top: 70px;
  font-family: import_roboto_regular;
  font-size: 20px;
}

.greetings_text h3 {
  padding-top: 70px;
  font-family: import_roboto_bold;
  font-size: 40px;
}

/*ANIMATED ARROW*/
.arrow {
  width: 100px;
  height: 82px;
  position: absolute;
  margin-left: 0px;
  top: 12rem;
  bottom: 5%;
  z-index: 999;
}
/* SET ARROW STYLES */
.arrow path {
  stroke: #059b7b;
  stroke-width: 5px;
  fill: transparent;
  animation: down 2s infinite;
}
/* ARROW KEYFRAME ANIMATION */
@keyframes down {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* ARROW ANIMATIOIN DELAY */
.arrow path.a1 {
  animation-delay: -1s;
}
.arrow path.a2 {
  animation-delay: -0.5s;
}
.arrow path.a3 {
  animation-delay: 0s;
}
.image_grp img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/*MAIN PAGE BANNER PICTURES*/
.intro_header_images .img1 {
  width: 45vw;
  height: auto;
  margin-top: 5%;
  margin-left: 50%;
}

.intro_header_images .img2 {
  width: 45vw;
  height: auto;
  margin-top: 5%;
  margin-left: 5%;
}

.intro_header_images .img3 {
  width: 40vw;
  height: auto;
  margin-top: -5%;
  margin-left: 55%;
}

.intro_header_images .img4 {
  width: 42vw;
  height: auto;
  margin-top: -5%;
  margin-left: 10%;
}

.intro_header_images .img5 {
  width: 30vw;
  height: auto;
  margin-top: -5%;
  margin-left: 60%;
}

.intro_header_images .img6 {
  width: 50vw;
  height: auto;
  margin-top: -5rem;
  margin-left: 5%;
}

/*GREETINGS*/
.greetings {
  position: relative;
  height: 100vh;
  color: #fff;
}

/* POLAROIDS */
.polaroid_row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.polaroid_white {
  padding: 10rem;
  text-align: center;
}

.polaroid_green {
  padding: 10rem;
  background-color: #059b7b;
  text-align: center;
}
