* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

/* IMPORT THE ROBOTO GOOGLE FONT */
@font-face {
  font-family: import_roboto_regular;
  src: url(../Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: import_roboto_bold;
  src: url(../Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: import_rasa;
  src: url(../Rasa/Rasa-VariableFont_wght.ttf);
}
/* END IMPORT THE ROBOTO GOOGLE FONT*/

.svg_container {
  width: 80%;
  margin: auto;
}

svg .foundershall:hover path {
  stroke: #00664f;
  cursor: pointer;
}

svg .chapel:hover path {
  stroke: #00664f;
  cursor: pointer;
  transition: stroke 0.3s;
}
svg .foyer:hover path {
  stroke: #00664f;
  cursor: pointer;
  transition: stroke 0.3s;
}
svg .ibblock:hover path {
  stroke: #00664f;
  cursor: pointer;
  transition: stroke 0.3s
}
svg .ish:hover path {
  stroke: #00664f;
  cursor: pointer;
  transition: stroke 0.3s;
}
svg .library:hover path {
  stroke: #00664f;
  cursor: pointer;
  transition: stroke 0.3s;
}

svg .track:hover path {
  stroke: #00664f;
  cursor: pointer;
  transition: stroke 0.3s;
}

svg .track:hover ellipse {
  stroke: #00664f;
  cursor: pointer;
  transition: stroke 0.3s;
}

svg .track:hover circle {
  stroke: #00664f;
  cursor: pointer;
  transition: stroke 0.3s;
}

#displayArea {
  width: 80%;
  margin: auto;
}

#displayArea h1 {
  font-family: import_roboto_bold;
}

#displayArea p {
  font-family: import_roboto_regular;
}

.tour_video {
  position: relative;
  overflow: hidden;
  width: 80%;
  padding-top: 45%;
}

.tour_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/* footer */
.footer {
  background: #00664f;
  color: #fff;
  font-family: import_rasa;
  text-align: center;
  padding: 30px 0 30px 0;
  font-size: 15px;
}

@media only screen and (max-width: 950px) {
  .tour_video {
    width: 100%;
    padding-top: 56%;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .svg_container {
    width: 100%;
  }
}